.ToolBar {
  /*height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #373737;
  color: white;
  display: flex;
  padding: 0 20px;*/
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.ToolBar nav {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }

  .ToolBar nav {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
