.Calculator {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.ResultContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 15px;
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #f4f4f4;
}

form {
  background-color: #f4f4f4;
}

/*Desktop Only*/
@media (min-width: 1000px) {
  .MobileOnly {
    display: none;
  }
}

/*Desktop Only*/
@media (max-width: 500px) {
  .Calculator {
    width: 100%;
  }

  .DesktopOnly {
    display: none;
  }

  /*Make wider input fields when hover*/
  .formField:hover > label {
    display: none;
  }
}


.amenityMarker {
  margin-left: 3px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 100%;
}

.predictedMarker {
  margin-left: 3px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-color: green;
  border: 2px solid black;
  border-radius: 100%;
}

.comparableMarker {
  margin-left: 3px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 100%;
}