<div class="card text-center">
  <div class="card-header">Property Features</div>
  <div class="card-body">
    <form action="" method="post">
      <!-- Get location for latitude and longitude values -->
      <div>
        <p>Property Location</p>
        <button type="button" class="btn btn-primary mx-auto">
          Location
        </button>
      </div>

      <hr />

      <!-- Number of rooms selection -->
      <div>
        <p>Number of rooms</p>
        <select
          name="RoomNumber"
          id=""
          class="custom-select custom-select-lg mx-auto"
        >
          <option value="-1" hidden selected># rooms</option>
          <option value="0">Bachelor</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>

      <hr />

      <!-- Number of bathrooms selection -->
      <div>
        <p>Number of Bathrooms</p>
        <select
          name="BathroomNumber"
          id=""
          class="custom-select custom-select-lg mx-auto"
        >
          <option value="-1" hidden selected># bathrooms</option>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>

      <hr />

      <!-- House age selection -->
      <div>
        <p>Property Age</p>
        <select name="Age" id="" class="custom-select custom-select-lg mx-auto">
          <option value="-1" hidden selected>Age</option>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    </form>
  </div>
  <!-- Submit form -->
  <div class="card-footer">
    <button type="button" class="btn btn-success mx-auto">
      Submit
    </button>
  </div>
</div>
